@charset "utf-8";
/* CSS Document */
table{border-collapse:collapse;
	border:1px #999 solid;
}
table th{background:#CCC;
	color:#000;
	text-align:center;
	font:8pt Arial, Helvetica, sans-serif;
}
table td{ padding:2px 5px 1px 5px;
	font:11pt Verdana, Geneva, sans-serif;
	/*text-align:center;*/
}
.totpg{background:#CCC;}
.totgeral{background:#036;
	color:#FFF;
	font-size:18pt;
}
#pagar{display:none;}
