
# BEGIN WordPress

php_value memory_limit 128M

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wordpress47/

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress47/index.php [L]
</IfModule>



# END WordPress